.menu-vertical {
  position: fixed;
  background: var(--black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  width: 110px;
  min-height: 95vh;
  height: auto;
}

.menu-vertical__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-arround;
  height: 60%;
}

.module {
  margin: 15px 0;
}

.copyright {
  font-size: 15px;
  width: 200px;
  transform: rotate(-90deg);
  margin-top: 150px;
}
