.dashboard-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.dashboard-page__graphs-container {
  width: 70%;
}

.dashboard-page__graphs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.linechart,
.radarchart,
.radialchart {
  width: 30%;
}

.linechart {
  background: var(--red);
}

.radarchart {
  background: var(--black);
}
